/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
    box-sizing: border-box;
    font-size: 25px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: #28a4c3;
}

/* ============================================ */
:root {
    --baseBG: #1c2f48;
    --primary: #dcf3ff;
    --secondary: #9bbcd1;
    --accent: #7aa93c;
    --cardBG: #2b3c46;
    --cardAccent: #354a56;
}

html {
    background-color: var(--baseBG);
    color: var(--primary);
}

/* ================================================= */

nav {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;

    & .nav-headings {
        margin-right: auto;

        & .heading {
            font-size: 40px;
        }
    }

    & .nav-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        & p,
        & a {
            margin-right: 20px;
        }

        & button {
            background-color: var(--secondary);
            padding: 5px 10px;
            border-radius: 5px;
            cursor: pointer;
        }
    }

    @media (max-width: 768px) {
        flex-direction: column;
        margin-bottom: 100px;

        & .nav-headings {
            margin: 10px;
        }
    }
}

/* ================================================= */

.home-container {
    margin: auto;
    text-align: center;

    & form {
        margin: 50px;

        & input {
            margin: 10px;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }

        & .submit-btn {
            background-color: var(--accent);
            border-color: var(--cardAccent);
            cursor: pointer;
        }
    }
}

/* ================================================= */

.my-urls {
    padding: 20px;

    & .back-link {
        font-size: 16px;
    }

    & h3 {
        margin-top: 10px;
    }

    & .user-urls-container {
        margin: 5px auto;

        & ul {
            & li {
                margin: 20px 10px;

                & button {
                    background-color: #ae5b8e;
                    border-color: var(--cardAccent);
                    border-radius: 5px;
                    cursor: pointer;
                    padding: 2px 5px;
                }
            }
        }
    }
}

/* ================================================= */

.auth-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 20px auto;

    & form {
        margin-top: 20px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        & .field {
            margin: 20px;
            width: 100%;

            & input {
                border-radius: 5px;
                width: 100%;
                padding: 5px;
            }

            &:has(input[type='checkbox']) {
                display: flex;
                flex-direction: row;
                justify-content: start;
                align-items: center;

                & input[type='checkbox'] {
                    width: min-content;
                    margin: 0px 5px;
                }
            }
        }

        & .actions {
            align-self: center;
            margin: 20px 5px;

            & input {
                background-color: var(--secondary);
                padding: 5px 10px;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }
}

/* ================================================= */
